body {
    margin: 0 auto;
    background-image: url("../image/tecnology.jpg");
    background-repeat:  no-repeat;
    background-size: 100% 720px;
}

.container{
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    background-color: pgba(44,62,80,0.7);
    border-radius: 4px;
    margin:  0 auto;
    margin-top: 160px;
}
.container img{
    width: 150px;
    height: 150px;
    margin-top: -60px;
    margin-right: 30px;
    text-align: center;
}